#
# This file controls the configuration of the file access policy daemon.
# See the fapolicyd.conf man page for explanation.
#

{% if fapolicyd_setup_permissive %}
permissive = 1
{% else %}
permissive = 0
{% endif %}
nice_val = 14
q_size = 800
uid = fapolicyd
gid = fapolicyd
do_stat_report = 1
detailed_report = 1
db_max_size = 50
subj_cache_size = 1549
obj_cache_size = 8191
watch_fs = ext2,ext3,ext4,tmpfs,xfs,vfat,iso9660,btrfs
trust = {{ fapolicyd_setup_trust }}
{% if ansible_facts.distribution_version is version("8.4", ">=") %}
integrity = {{ fapolicyd_setup_integrity }}
{% endif %}
syslog_format = rule,dec,perm,auid,pid,exe,:,path,ftype,trust
#rpm_sha256_only = 0
#allow_filesystem_mark = 0
